* {
  box-sizing: border-box;
}

body,
input,
select {
  font-family: Inter, sans-serif;
  font-size: 11px;
  margin: 0;
}

p {
  margin: 0;
}

input,
select {
  border: 1px solid rgba(0 0 0 / 0.1);
  border-radius: 2px;
  height: 32px;
}

select {
  background: transparent;
  background-image: none;
  box-shadow: none;
}

::-webkit-input-placeholder,
::placeholder {
  color: #b3b3b3;
}

button {
  background: none;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 6px;
  color: #333;
  cursor: pointer;
  line-height: 16px;
  outline: none;
  padding: 7px 16px;
  text-align: center;
}

section {
  padding: 16px;
}

.sectionHeader {
  color: #333;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 8px;
}

.description {
  color: #b3b3b3;
}
